
    <!-- 404 inner -->
    <section>
        <div class="error-inner-area height-100vh" data-bg-img='assets/img/error2.jpg'>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- error inner text -->
                        <div class="error-inner-tex text-center type2">
                            <span>صفحه مورد نظر شما</span>
                            <h1 style="font-family:Titr">پیدا نشد</h1>
                            <h4 >Error 404</h4>
                            <a href="/Home" class="btn" style="font-family:'B Yekan'">بازگشت به صفحه اصلی </a>
                        </div>
                        <!-- error inner text -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of 404 inner -->
   

  