@{
    
}
 <!-- page title -->
<section class="page-title-inner" data-bg-img='/assets/img/page-titlebg.png'>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- page title inner -->
                <div class="page-title-wrap">
                    <div class="page-title-heading"><h1 class="h2" style="font-family:Titr;font-size:35px;">حساب کاربری<span style="font-family:'B Yekan';padding-top:30px;padding-right:50px">پروفایل</span></h1></div>
                    <ul class="list-unstyled mb-0">
                        <li><a href="index.html">صفحه اصلی</a></li>
                        <li><a href="#">فروشگاه</a></li>
                    </ul>
                </div>
                <!-- End of page title inner -->
            </div>
        </div>
    </div>
</section>
<!-- End of page title -->
<!-- logout register wrap -->
<section class="pt-30 pb-100">
    <div class="menu-container">
        <div class="row">
            <div class="col-lg-3">
                <!-- dash board nav-->
                <div class="dashboard-inner">
                    <div class="menu-wraper">
                        <nav >
                            <!-- Header-menu -->
                            <div class="header-menu dosis">
                                
                                <ul style="float:right;text-align:right;">
                                    <li class="active">
                                        <a class="dashboard-nav-item-active " id="nav-dasboard" data-toggle="tab" href="#dashboard"><span><img src="/assets/img/icons/dashboard.svg" class="svg" alt=""></span>داشبورد</a>

                                    </li>
                                    <li>
                                        <a class="dashboard-nav-item" id="nav-order" data-toggle="tab" href="#order"><span><img src="/assets/img/icons/order.svg" class="svg" alt=""></span>سفارشات</a>

                                    </li>
                                    <li>
                                        <a class="dashboard-nav-item " id="nav-down" data-toggle="tab" href="#down"><span><img src="/assets/img/icons/download.svg" class="svg" alt=""></span>ورود کالا</a>
                                        <ul>
                                            <li><a href="#">دسته بندی محصولات</a></li>
                                            <li><a href="#">ورود اطلاعات کالا</a></li>
                                            <li><a href="#">ورود اطلاعات کاربران</a></li>
                                        </ul>

                                    </li>

                                    <li>
                                        <a class="dashboard-nav-item" id="nav-address" data-toggle="tab" href="#address"><span><img src="/assets/img/icons/address.svg" class="svg" alt=""></span>آدرس</a>
                                    </li>

                                    <li>
                                        <a class="dashboard-nav-item" id='nav-adetails' data-toggle="tab" href="#adetails"><span><img src="/assets/img/icons/account3.svg" class="svg" alt=""></span>اطلاعات حساب کاربری</a>
                                    </li>
                                    <li>
                                        <a class="dashboard-nav-item" href="logout.html"><span><img src="/assets/img/icons/logout.svg" class="svg" alt=""></span>خروج</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of Header-menu -->
                        </nav>
                    </div>
                </div>
                <!-- End of dash board nav-->
            </div>
        </div>
    </div>
</section>
<!-- End of logout register wrap -->
@section DeclareJS{
<script src="~/Areas/Panel/Scripts/Home/JsHome.js"></script>
}