<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!-- Document Title -->
    <title>Mohseni Shop</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <!-- CSS Files -->
    <!--==== Google Fonts ====-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7CRoboto+Condensed:300,400,700" rel="stylesheet">

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- Owl Carusel css file -->
    <link rel="stylesheet" href="/assets/plugins/owl-carousel/owl.carousel.min.css">

    <!-- Magnific-Popup css file -->
    <link rel="stylesheet" href="/assets/plugins/Magnific-Popup/magnific-popup.css">

    <!-- animate css file -->
    <link rel="stylesheet" href="/assets/plugins/animate-css/animate.min.css">

    <!-- swiper -->
    <link rel="stylesheet" href="/assets/plugins/swiper/swiper.min.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!--==== Font CSS ====-->
    <link href="~/assets/css/font.css" rel="stylesheet" />
    <!--dropzone CSS files-->
    <link href="~/assets/DropzoneAssets/dropzone.css" rel="stylesheet" />
    <link href="~/assets/DropzoneAssets/ng-dropzone.min.css" rel="stylesheet" />
</head>
<body>
   
    <!-- Preloader -->
    <div class="preLoader">
        <div class="preloder-inner">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </div>
    <!-- End Of Preloader -->
    <!-- Main header -->
    <!-- main header -->
    <header class="header">
        <div class="main-header-wraper main-header header-style3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-4 col-sm-5 col-md-4">
                        <div class="catagory-menu-left">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <div class="main-menu-btn" title="main menu">
                                        <a href="#">
                                            <div id="menu-button"><i class="fa fa-bars"></i></div>
                                        </a>
                                        <!-- menu container -->
                                        <div class="menu-container d-none">
                                            <div class="menu-wraper">
                                                <nav>
                                                    <!-- Header-menu -->
                                                    <div class="header-menu dosis">
                                                        <div id="menu-button2"><i class="fa fa-bars"></i></div>
                                                        <ul>
                                                            <li class="active">
                                                                <a href="#">خانه</a>

                                                            </li>
                                                            <li>
                                                                <a href="#">گالری محصولات</a>

                                                            </li>
                                                            <li>
                                                                <a href="#">دسته بندی محصولات </a>
                                                             
                                                            </li>

                                                            <li>
                                                                <a href="#">صفحات سایت</a>
                                                                <ul>
                                                                    <li><a href="about.html">درباره ما</a></li>
                                                                    <li><a href="cart-list.html">سبد خرید</a></li>
                                                                    <li><a href="wish-list.html">نشان شده ها</a></li>
                                                                    <li><a href="myaccount.html">حساب کاربری</a></li>
                                                                    <li><a href="logout.html">خروج از حساب کاربری</a></li>
                                                                    <li>
                                                                        <a href="#">به زودی!</a>

                                                                    </li>

                                                                </ul>
                                                            </li>

                                                            <li><a href="contact.html">تماس با ما </a></li>
                                                        </ul>
                                                    </div>
                                                    <!-- End of Header-menu -->
                                                </nav>
                                            </div>
                                        </div>
                                        <!--End of menu container -->
                                    </div>
                                </li>
                                <li>
                                    <div class="menu-btn" title="Category menu">
                                        <a href="#">
                                            <img src="/assets/img/icons/manu-button.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="search-btn" title="search">
                                        <a href="#">
                                            <img src="/assets/img/icons/search-button.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-5 col-sm-3 col-md-4">
                        <div class="logo-container text-center">
                            <!-- Logo -->
                            <div class="logo">
                               
                                
                                    <img class='default-logo' src="~/assets/img/logo2540.jpg" data-rjs="2" alt="ecommerce">
                                
                            </div>
                            <!-- End of Logo -->
                        </div>
                    </div>
                    <div class="col-3 col-sm-4 col-md-4">
                        <!-- modal menu -->
                        <div class="modal-menu-container">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <div class="cart-btn" title="Cart list">
                                        <a href="#">
                                            <img src="/assets/img/icons/add-bag.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="wishlist-btn-off" title="Wish list">
                                        <a href="#">
                                            <img src="/assets/img/icons/wishlist.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="account-btn" title="account list">
                                        <a href="#">
                                            <img src="/assets/img/icons/account.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End of modal menu -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of main header -->
    <!-- Catagory menu -->
    <div class="slidenav left-side catagory-menu">
        <div class="menu-navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="catagory-menu-header d-flex  align-items-center">
                            <div class="logo">
                                <a href="index.html"><img class='default-logo' src="~/assets/img/logo2540.jpg" data-rjs="2" alt="ecommerce"></a>
                            </div>
                            <div class="menu-cancel">
                                <img src="/assets/img/icons/close-button.svg" class="svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="search-bar primary-form parsley-validate">
                            <form action="#">
                                <input type="text" class="theme-input-style" placeholder="عبارت مورد نظر خود را وارد کنید" required>
                                <input type="submit" class="search-icon" value="&#xF002;" disabled>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12 offset-lg-1">
                        <div class="catagory-menu-wrap">
                            <nav>
                                <ul class="list-unstyled"></ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Catagory menu -->
    <!-- offcanvas menu-->
    <!-- offcanvas overlay -->
    <div class="offcanvas-overlay"></div>
    <!-- offcanvas overlay -->
    <!-- offcanvas mainmenu -->
    <div class="offcanvas header-offcanvas2">
        <div class="offcanvas-cancel">
            <img src="/assets/img/icons/close-button.svg" class="svg" alt="">
        </div>
    </div>
    <!-- offcanvas mainmenu -->
    <!-- wish list -->
    <div class="offcanvas offcanvas-wishlist" id="wishlist">
        <div class="offcanvas-head">
            <div class="head-text">
                <img src="/assets/img/icons/wishlist2.svg" class="svg" alt="">
                <h3 style="font-family:Titr">نشان شده ها </h3>
            </div>
            <div class="offcanvas-cancel">
                <img src="/assets/img/icons/close-button.svg" class="svg" alt="">
            </div>
        </div>

        <div class="offcanvas-inner">
            <div class="added-wish-list">







                <!-- add to button an support -->
                <div class="view-cart-check-btn text-center">
                    <a href="#" class='btn btn-fill-type' style="font-family:'B Yekan'"> سبد خرید</a>
                    <a href="#" class='btn btn-fill-type' style="font-family:'B Yekan'">فروشگاه</a>
                    <p>ارسال رایگان برای خرید های بالای 100000 تومان!</p>
                </div>
                <div class="cart-support">
                    <p class="roboto" style="font-family:'B Yekan'">پشتیبانی</p>
                    <ul class="list-unstyled">
                        <li>
                            <span><i class="fa fa-phone"></i></span>
                            شماره تماس :989152365575+
                        </li>
                        <li>
                            <span><i class="fa fa-map-marker"></i></span>
                            سبزوار،خراسان رضوی،ایران
                        </li>
                    </ul>
                </div>
                <!-- add to button an support -->
            </div>
        </div>
    </div>
    <!-- End of wish list -->
    <!-- cart list -->
    <div class="offcanvas offcanvas-cart-list">
        <div class="offcanvas-head">
            <div class="head-text">
                <img src="/assets/img/icons/add-bag2.svg" class="svg" alt="">
                <h3 style="font-family:Titr">سبد خرید</h3>
            </div>
            <div class="offcanvas-cancel">
                <img src="/assets/img/icons/close-button.svg" class="svg" alt="">
            </div>
        </div>
        <div class="offcanvas-inner">
            <div class="added-cart-list">

                <!-- total price -->
                <div class="total-price">
                    <h5>قیمت کل</h5>
                    <h3> تومان</h3>
                </div>
                <!-- End of total price -->
                <!-- add to button an support -->
                <div class="view-cart-check-btn text-center">
                    <a href="#" class='btn btn-fill-type' style="font-family:'B Yekan'">سبد خرید</a>
                    <a href="#" class='btn btn-fill-type' style="font-family:'B Yekan'">فروشگاه</a>
                    <p>ارسال رایگان برای خرید های بالای 100000 تومان!</p>
                </div>
                <div class="cart-support">
                    <p class="roboto">پشتیبانی فنی </p>
                    <ul class="list-unstyled">
                        <li>
                            <span><i class="fa fa-phone"></i></span>
                            تلفن تماس :989152365575+
                        </li>
                        <li>
                            <span><i class="fa fa-map-marker"></i></span>
                            سبزوار،خراسان رضوی،ایران
                        </li>
                    </ul>
                </div>
                <!-- add to button an support -->
            </div>
        </div>
    </div>

    <!-- log in and register -->
    <div class="offcanvas offcanvas-account">
        <div class="offcanvas-head">
            <div class="head-text">
                <img src="/assets/img/icons/account2.svg" class="svg" alt="">
                <h3 style="font-family:Titr">حساب کاربری</h3>
            </div>
            <div class="offcanvas-cancel">
                <img src="/assets/img/icons/close-button.svg" class="svg" alt="">
            </div>
        </div>

        <div class="offcanvas-inner">
            <!-- login register -->
            <div class="login-register-wrap">
                <!-- login register nav -->
                <div class="login-register-nav">
                    <nav class="nav lr-nav text-center">
                        <a id="nav-login-tab" data-toggle="tab" href="#login" class="active" style="font-family:'B Yekan'">ورود</a>
                        <a id="nav-register-tab" data-toggle="tab" href="#reg" style="font-family:'B Yekan'">ثبت نام</a>
                    </nav>
                </div>
                <!-- End of login register nav -->
                <!-- login register content -->
                <div class="login-register-content tab-content">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="nav-login-tab">
                        <div class="primary-form parsley-validate">
                            <form action="#">
                                <!-- loging input -->
                                <div class="name-input input-field">
                                    <label>
                                        <img src="/assets/img/icons/account3.svg" class="svg" alt="">
                                    </label>
                                    <input type="text" placeholder='نام کاربری/ایمیل' class="theme-input-style" required>
                                </div>

                                <div class="password-input input-field">
                                    <label>
                                        <img src="/assets/img/icons/regi-icon.svg" class="svg" alt="">
                                    </label>
                                    <input type="password" placeholder='گذرواژه' class="theme-input-style" required>
                                </div>
                                <!-- loging input -->
                                <button type="submit" class="btn btn-fill-type">ورود</button>
                            </form>
                            <p>آیا حساب کاربری ندارید؟<a href="#"> اکنون ثبت نام کنید!</a></p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="reg" role="tabpanel" aria-labelledby="nav-login-tab">
                        <div class="primary-form parsley-validate">
                            <form action="#">
                                <!-- register input -->
                                <div class="name-input input-field">
                                    <label>
                                        <img src="/assets/img/icons/account-icon.svg" class="svg" alt="">
                                    </label>
                                    <input type="text" placeholder='نام کاربری/ایمیل' class="theme-input-style" required>
                                </div>

                                <div class="email-input input-field">
                                    <label>
                                        <img src="/assets/img/icons/email-icon.svg" class="svg" alt="">
                                    </label>
                                    <input type="email" placeholder='ایمیل' class="theme-input-style" required>
                                </div>

                                <div class="password-input input-field">
                                    <label>
                                        <img src="/assets/img/icons/regi-icon.svg" class="svg" alt="">
                                    </label>
                                    <input type="password" placeholder='گذرواژه' class="theme-input-style" required>
                                </div>
                                <!-- register input -->
                                <button type="submit" class="btn btn-fill-type">ثبت نام</button>
                            </form>
                            <p>حساب کاربری دارید؟<a href="#">وارد شوید</a></p>
                        </div>
                    </div>
                </div>
                <!-- End of login register content -->
            </div>
            <!-- End of login register -->
            <!-- add to button an support -->
            <div class="cart-support">
                <p class="roboto">پشتیبانی فنی</p>
                <ul class="list-unstyled">
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        +تلفن تماس :989152365575
                    </li>
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        سبزوار،خراسان رضوی،ایران
                    </li>
                </ul>
            </div>
            <!-- add to button an support -->
        </div>
    </div>
    <!-- End of log in and ragister -->
    <!--Content Area-->
    <section class="pt-70 pb-40 pattern bdr-top bdr-btm" style="margin-top:50px;margin-bottom:30px;position:center;">
        <div style="padding-left:30px;padding-bottom:30px;padding-top:30px;padding-right:30px;" ng-app="MyApp" ng-controller="MyCtrl">
            @RenderBody()
        </div>
    </section>


    <!--End of Content Area-->
    <!-- sticky social area -->
    <div class="sticky-social-area">
        <ul class="list-unstyled mb-0">
            <li><a href="#"><span><i style="color:#181cc6" class="fa fa-facebook"></i></span></a></li>
            <li><a href="#"><span><i style="color:#1a83c8" class="fa fa-twitter"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-instagram"></i></span></a></li>
            <li><a href="#"><span><i style="color:red" class="fa fa-pinterest"></i></span></a></li>
        </ul>
    </div>
    <!-- End of sticky social area -->
    <!-- quick service  -->
    <section class="pt-70 pb-40 pattern bdr-top bdr-btm">
        <div class="quick-service-wrap">
            <div class="container">
                <div class="row">
                    <!-- single quick service -->
                    <div class="col-md-4">
                        <div class="single-quick-service d-flex align-items-center">
                            <img src="/assets/img/icons/car.svg" class="svg" alt="">
                            <div class="single-quick-text">
                                <h5>ارسال رایگان</h5>
                                <p>انواع روش های ارسال موجود است </p>
                            </div>
                        </div>
                    </div>
                    <!-- enn of quick service -->
                    <!-- single quick service -->
                    <div class="col-md-4">
                        <div class="single-quick-service d-flex align-items-center">
                            <img src="/assets/img/icons/retry.svg" class="svg" alt="">
                            <div class="single-quick-text">
                                <h5>گارانتی تعویض</h5>
                                <p>تمامی کالاهای این فروشگاه داراری گارانتی تعویض هستند </p>
                            </div>
                        </div>
                    </div>
                    <!-- enn of quick service -->
                    <!-- single quick service -->
                    <div class="col-md-4">
                        <div class="single-quick-service d-flex align-items-center">
                            <img src="/assets/img/icons/card.svg" class="svg" alt="">
                            <div class="single-quick-text">
                                <h5>پرداخت آسان</h5>
                                <p>پرداخت در این فروشگاه فرآیندی آسان را شامل می شود </p>
                            </div>
                        </div>
                    </div>
                    <!-- enn of quick service -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of quick service  -->
    <!-- footer area -->
    <footer class="footer-type3 pt-50">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <!-- footer widget -->
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="footer-widget">

                            <div class="footer-about-text">
                                <p>تمامی کالا های موجود در این فروشگاه دارای گواهی سلامت کالا و همچنین ضمانت نامه ارجاع کالا هستند .<br /> با آرامش خرید کنید!</p>
                            </div>
                            <div class="footer-subscribe parsley-validate">
                                <form action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d" method="post" class="footer-form" novalidate="">
                                    <input type="email" class="theme-input-style" placeholder="ایمیل خود را وارد کنید " required>
                                    <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End of footer widget -->
                    <!-- footer widget -->
                    <div class="col-md-6 col-lg-2 col-sm-6">
                        <div class="footer-widget">
                            <!-- footer Widget heading -->
                            <div class="footer-header">
                                <h5>درباره ما</h5>
                            </div>
                            <!--End of footer Widget heading -->
                            <div class="footer-links">
                                <ul class="links-list list-unstyled mb-0">
                                    <li>
                                        <a href="#">درباره شرکت</a>
                                    </li>
                                    <li>
                                        <a href="#">گواهی ثبت</a>
                                    </li>
                                    <li>
                                        <a href="#">سیاست ها</a>
                                    </li>
                                    <li>
                                        <a href="#">قوانین استفاده</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End of footer widget -->
                    <!-- footer widget -->
                    <div class="col-md-6 col-lg-2 col-sm-6">
                        <div class="footer-widget">
                            <!-- footer Widget heading -->
                            <div class="footer-header">
                                <h5>بخش های سایت</h5>
                            </div>
                            <!--End of footer Widget heading -->
                            <div class="footer-links">
                                <ul class="links-list list-unstyled mb-0">
                                    <li>
                                        <a href="#">پرفروش ها </a>
                                    </li>
                                    <li>
                                        <a href="#">پیشنهاد ویژه</a>
                                    </li>
                                    <li>
                                        <a href="#">جشنواره تخفیف</a>
                                    </li>
                                    <li>
                                        <a href="#">آخرین کالاها</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End of footer widget -->
                    <!-- footer widget -->
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="footer-widget">
                            <!-- footer Widget heading -->
                            <div class="footer-header">
                                <h5>اطلاعات تماس</h5>
                            </div>
                            <!--End of footer Widget heading -->
                            <div class="footer-contact-wrap">
                                <ul class="footer-contact-list list-unstyled mb-0">
                                    <li>
                                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                        سبزوار،خراسان رضوی،ایران
                                    </li>
                                    <li>
                                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                        <a href="info@emailname.com">ایمیل : Mohseni.m99.org@gmail.com </a>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                        <a href="+006543219874">شماره تماس : 989152365575+</a>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                        شنبه-چهارشنبه : 8 الی 17
                                    </li>
                                </ul>
                            </div>
                            <!-- footer social area -->
                            <div class="footer-social-area">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of footer social area -->
                        </div>
                    </div>
                    <!-- End of footer widget -->
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-bottom-wrap">
                            <!-- copyright text -->
                            <div class="copyright-text">
                                <p> <a href="#">گروه برنامه نویسی محسنی </a> تمامی حقوق محفوظ است </p>
                            </div>
                            <!-- End of copyright text -->
                            <!-- tarms and condition -->
                            <div class="trams-conditaion">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#">گواهی ثبت</a></li>
                                    <li><a href="#">سیاست ها</a></li>
                                    <li><a href="#">قوانین استفاده</a></li>
                                </ul>
                            </div>
                            <!-- End of tarms and condition -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of footer area -->
    <!-- back to top -->
    <div class="back-to-top">
        <a href="#">
            <div class="back-toop-tooltip"><span style="font-family:'B Yekan'">بازگشت به بالا</span></div>
            <div class="top-array"></div>
            <div class="top-line"></div>
        </a>
    </div>
    <!-- back to top -->


    <!-- JS Files -->
    <!-- ==== JQuery 3.3.1 js file==== -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>

    <!-- ==== Bootstrap js file==== -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <!--Angular Js-->
    <script src="~/Areas/Panel/Scripts/Angular/angular.js"></script>
    <!-- ==== JQuery Waypoint js file==== -->
    <script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>

    <!-- ==== Parsley js file==== -->
    <script src="/assets/plugins/parsley/parsley.min.js"></script>

    <!-- ==== Ratina js file==== -->
    <script src="/assets/plugins/retinajs/retina.min.js"></script>

    <!--===parallax js file===-->
    <script src="/assets/plugins/parallax/parallax.js"></script>

    <!--=== hori parallax js file===-->
    <script src="/assets/plugins/parallax/parallaxh.min.js"></script>

    <!-- ==== Owl Carousel js file==== -->
    <script src="/assets/plugins/owl-carousel/owl.carousel.min.js"></script>

    <!-- ====Magnific-Popup js file==== -->
    <script src="/assets/plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

    <!-- ====Counter js file=== -->
    <script src="/assets/plugins/waypoints/jquery.counterup.min.js"></script>

    <!-- ====packery==== -->
    <script src="/assets/plugins/isotope/packery.pkgd.min.js"></script>

    <!-- ====swiper==== -->
    <script src="/assets/plugins/swiper/swiper.min.js"></script>

    <!-- ====Count down js==== -->
    <script src="/assets/plugins/countdown/jquery.countdown.min.js"></script>

    <!-- ====zoom js==== -->
    <script src="/assets/plugins/Magnific-Popup/jquery.elevateZoom-3.0.8.min.js"></script>

    <!-- ====tweenMax==== -->
    <script src="/assets/plugins/tweenmax/TweenMax.min.js"></script>

    <!-- ====text animation==== -->
    <script src="/assets/plugins/text-animation/anime.min.js"></script>

    <!-- ====google map api key====-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2D8wrWMY3XZnuHO6C31uq90JiuaFzGws"></script>

    <!-- ==== Script js file==== -->
    <script src="/assets/js/scripts.js"></script>

    <!-- ==== Custom js file==== -->
    <script src="/assets/js/custom.js"></script>
  
    <!--Dropzone JS files-->
    <script src="~/assets/DropzoneAssets/dropzone.js"></script>
    <script src="~/assets/DropzoneAssets/ng-dropzone.min.js"></script>
    <script src="~/Areas/Panel/Scripts/JsDropzone/JsHome.js"></script>
    <!-- AttributesForm JS-->
    <script src="~/Areas/Panel/Scripts/AttributesForm/JsAttribuesForm.js"></script>
    <!--Category Form JS-->
    <script src="~/Areas/Panel/Scripts/Category/JsCategory.js"></script>
    @RenderSection("DeclareJS", false)
</body>
</html>